* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: "Montserrat", sans-serif;
}
section {
  background-color: rgb(18, 26, 31);
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  width: 80%;
  max-width: 400px;
  background-color: rgb(24, 24, 24);
  border-radius: 8px;
  overflow: hidden;
  height: 600px;
}
.display {
  background-color: rgb(24, 24, 24);
  height: 200px;
  width: 100%;
  text-align: right;
  padding: 50px;
  font-size: 30px;
  position: relative;
}
.display-1 {
  opacity: 0.8;
  font-size: 20px;
  height: 80px;
  overflow: hidden;
  color: white;
}


.display-2 {
  font-size: 50px;
  color: white;
}
.temp-result {
  position: absolute;
  bottom: 0;
  left: 10;
  font-size: 20px;
  opacity: 0.3;
}
.all_button {
  color: whitesmoke;
  display: grid;
  grid-template: repeat(4, 1fr) / repeat(4, 1fr);
}
.button {
  border: 0.5px solid rgba(92, 92, 92, 0.137);
  display: inline-block;
  height: 70px;
  border-radius: 50%;
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  cursor: pointer;
}
.button:hover {
  background-color: rgb(30, 43, 46);
}


.no{
  background-color: rgb(97, 97, 97);
  color: rgb(255, 253, 253);
}

.no1{
  background-color: rgb(165, 165, 165);
  color: rgb(0, 0, 0);
}

.no2{
  background-color: rgb(255, 146, 4);
  color: rgb(255, 254, 254);
}

.button1 {
 
  display: inline-block;
  height: 70px;
border-radius: 30px;
  width: 110px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  cursor: pointer;
}
.button1:hover {
  background-color: rgb(30, 43, 46);
}